
{% extends 'base.html' %}

{% block content %}

<h1>this is inside the block in example.html</h1>

{% endblock content %}






{% comment %} <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EXAMPLE HTML TEMPLATES CONNECTED!</h1>
    <h1><a href="{%url 'my_app:variable'%}">CLICK ME TO GO TO VARIABLE</a></h1>
</body>
</html> {% endcomment %}




