<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>VARIABLE HTML Template</h1>
    <h2><a href="{%url 'my_app:example'%}">Click Me to go to Example</a></h2>
 {% comment %}    <ul>
      {% for num in some_list %}
       {% if num == 2 %}
           <li>TWO</li>
       {% else %}
           <li>{{num}}</li>
      {% endif %} 
      {% endfor %}
    </ul> {% endcomment %}
    {% comment %}
    <h2>Her last name was {{last_name | lower | capfirst}}</h2>
    <h3>{{some_list.2}}</h3>
    <h3>{{some_dict.inside_key}}</h3>
    <h4>{# this is a comment #}</h4>
    {% endcomment %}
  </body>
</html>
