<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>I can reference items from the variable by key</h1>
    <h1>First name was {{first_name}} and last name was {{last_name}}</h1>
<p></p>
    <h1>Grab entire list var: {{some_list}}</h1>
    <h1>Using dot notation:</h1>
    <h1>{{some_list.0}}</h1>
    <h1>{{some_dict.inside_key}}</h1>
    <!-- Django Templte Var comments -->
    <h1>{# this is a comment #}</h1>
</body>
</html>